html,
body {
    height: 100% !important;
    width: 100%;
    background-color: #ffffff;
    /* font-size: 14px; */
    /* overflow: hidden; */
}

h1,
h2,
h3,
h5,
h6 {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h4 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

h3,
h5 {
    display: inline-block;
}


.fa-arrow-circle-o-right {
    color: rgb(230, 56, 136) !important;
    /* color: linear-gradient(90deg, rgba(230, 56, 136, 1) 0%, rgba(29, 79, 145, 1) 100%); */
    font-size: 24px !important;
}

.page-card {
    height: 375px;
    margin-bottom: 30px;
}

.page-card-header {
    height: 86%;
    width: 100%;
}

.pg-img-box {
    width: 90%;
    height: 90%;
    margin: 5%;
    text-align: center;
    /* background-color: #333; */
}

.pg-img-box img {
    width: 100%;
    height: 100%;
}

.page-card-body {
    /* he */
    height: 12%;
    flex: none !important;
    padding: 0 !important;
    text-align: center;
    background-image: url('../image/ex-3-line-1143.png');
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
}

.page-card-body h4 {
    color: #fff !important;
    margin-top: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.section-wise {
    background-color: #f6f2f2;
    color: #333;
    width: 95%;
    padding: 6px;
}

.form-group {
    margin-bottom: 0 !important;
    font-size: 13px;
}

.answer-color {
    color: #007bff;
}

.form-group label {
    width: 95%;
}


.form-control {
    border-radius: 0 !important;
}

@media (max-width: 920px) {
    .form-group {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .form-group {
        font-size: 0.6rem;
    }
}

@media (max-width: 575px) {
    .form-group {
        font-size: 0.9rem;
    }
}


/* No greater than 900px, no less than 400px */
@media (max-width:575px) and (min-width:400px) {
    .pg-img-box img {
        width: 75%;
    }
}

.payment-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    padding-left: 100px;
    width: 100%;
    display: block;
    font-size: 60px !important;
    font-weight: 100 !important;
    margin-bottom: 10px !important;
    margin-top: 0 !important;
    line-height: 72px !important;
    color: #000 !important;
}

.instruction p {
    padding-left: 100px;
    margin: 1rem 0;
    color: #000;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', serif;
}

input:disabled{
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid #ccc !important;
    border-left: none;
    border-right: none;
    padding-left: 5px;
}

input[type = text]{
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid #982881;
    border-left: none;
    border-right: none;
    padding-left: 5px;
}

textarea{
    background-color: transparent;
    border-top: none;
    border-bottom: 1px solid #982881;
    border-left: none;
    border-right: none;
    padding-left: 5px;
}